datafile1
datafile.txt
__pycache__/*
uploads/*
.conda
Untitled10.ipynb

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
line.txt
clanalyze.txt
AWSCLIV2.pkg


# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
line.txt
